*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 8%;
position:sticky;
top:0;
backdrop-filter:blur(20px);
background:rgba(0,0,0,.2);
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 8%;
}

.hero-content{
width:50%;
}

.hero-content h1{
font-size:55px;
}

.hero-content span{
color:#38bdf8;
}

.hero-content h2{
margin:20px 0;
color:#94a3b8;
}

.hero-content p{
margin-bottom:30px;
}

.hero-image img{
width:380px;
height:380px;
object-fit:cover;
border-radius:50%;
border:5px solid #38bdf8;
box-shadow:0 0 40px #38bdf8;
}

.btn{
padding:14px 28px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:10px;
font-weight:600;
}

section{
padding:100px 8%;
}

section h2{
font-size:40px;
margin-bottom:30px;
color:#38bdf8;
}

.glass{
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
padding:30px;
border-radius:20px;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:25px;
border-radius:15px;
transition:.3s;
}

.project-card:hover{
transform:scale(1.05);
}

@media(max-width:900px){

.hero{
flex-direction:column-reverse;
text-align:center;
padding-top:100px;
}

.hero-content{
width:100%;
}

.hero-image img{
width:250px;
height:250px;
margin-bottom:30px;
}
}